/* CSS for mobile */
@media only screen and (max-device-width: 360px){ 
    body {
      margin: 0;
    }
   #app {
    background-color: #91ABFF;
    height: 100vh;
    width: 100vw;
    font-family: 'Raleway', sans-serif;
  }

  #startpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #namepage {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #intropage {
      display:none;
  }

  .q__text__header {
    line-height: 0px;
    padding-bottom: 20px;
  }

  /* button */
  .btn__next__holder {
    width: 100%;
    height:130px;
    display: flex;
    justify-content: center;
}

.btn__next {
    width: 700px;
    height: 130px;
    border-radius: 100px;
    background-color: #F08080;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 150px;
}

.btn__next__text {
    font-size: 50px;
    color: white;
    font-weight: bolder;
    
}
  
  }

  /* image sizing */

  .image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 25%;
    bottom: 65%;
    width: 500px;
  

  }

  .image_container img {
    width: 100%;
    height: 100%;
  }