/* CSS for mobile */
@media only screen and (max-device-width: 360px) {


  .back_button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
  }

  .back_icon {
    width: 1em;
    height: 1em;
  }

  .button_text {
    font-size: 50px;
    color: white;
  }


}