/* CSS for mobile */
@media only screen and (max-device-width: 450px) {


  .back_button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20px;
    left: 0;
  }

  .back_icon {
    width: 40px;
    height: 40px;
  }

  .button_text {
    font-size: 45px;
    font-weight: bold;
    color: white;
    font-family: 'Raleway', sans-serif;
  }


}