@media only screen and (max-device-width: 360px) {
#container {
    position: relative;
    display: flex;
    align-items: center;
    top: 27vh;
}

.texts {
    color: white;
    margin-left: 20px;
    font-size: 50px;
}

#container__img {
    background-image: url(img/logo.svg);
    width: 230px;
    height: 230px;
    background-repeat: no-repeat;
}

}