@media only screen and (max-device-width: 360px) {
    .q__text__holder{
        width: 100vw;
        height: 100vh;
    }

    .q__text {
        font-family: 'Raleway', sans-serif;
        position: relative;
        width: 500px;
        top: 700px;
        left: 50px;
    }

    .q__text__header {
        font-size: 60px;
    }

    .q__text__desc {
        font-size: 40px;
    }
}