@media only screen and (max-device-width: 360px) {

    .q__text {
        font-family: 'Raleway', sans-serif;
        position: relative;
        width: 100%
    
    }

    .q__text__header {
        font-size: 80px;
        margin-bottom: 5px;
    }

    .q__text__desc {
        font-size: 35px;
    
        width: 700px;
    }

    .q__text p {
        margin-bottom: 10px;
    }
}