#label {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

body {
    background-color: #91ABFF;
}

input {
    font-family: 'Raleway', sans-serif;
    height: 35px;
    width: 260px;
    border-radius: 10px;
    border: 0px;
    padding-left: 10px;
   
}

input::placeholder {
    font-size: 13px;
    color: #003E32;
    opacity: 0.48;
}




