#label {
    color: white;
    font-size: 35pt;
}

input {
    height: 120px;
    width: 650px;
    border-radius: 30px;
    border: 0px;
    padding-left: 15px;
}

input::placeholder {
    font-size: 30pt;
    color: #003E32;
    opacity: 0.48;
}

#textbox {
    position: absolute;
    display: flex;
    bottom: 545px;
    flex-direction: column;
}

#textbox__input {
    font-size: 30pt;
}

