/* CSS for mobile */
@media screen and (max-width: 360px){ 
    body {
        background-color:#91ABFF;
    }

    .back_button {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
      }
      
      .back_icon {
        width: 1em;
        height: 1em;
      }
      
      .button_text {
        font-size: 1em;
        color: white;
      }
      
    
  }
