/* CSS for mobile */
@media screen and (max-width: 360px){ 
    body {
        background-color:#91ABFF;
    }

    .back_button {
        background-color: none;
        border: none;
        font-size: 1em;
    }
    
  }
